

body {
    background-color: #d3ebf5;
}
@import 'rsuite/dist/rsuite.css';
 #root {
 }
.rs-carousel, .custom-slider {
    height: 100vh !important;
}
.main-content {
    min-height: calc(100vh- 200px);
}
@media all and (max-width: 820px) {
    .rs-carousel, .custom-slider {
        height: 75vh !important;
    }
}
@media all and (max-width: 600px) {
    .rs-carousel, .custom-slider {
        height: 50vh !important;
    }
}